body {
  background-color: #FFFAE3;

}

.nav-wrapper {
  background-color: #FFFAE3;
  align-items: center;
}

#main-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  diplay: grid;
  grid-column: 33% 33% 33%;
  margin: 50px;
  justify-content: center;
  align-self: center;
}


.spin-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wheel-container {
  justify-content: space-around;
}

.empty {
  height: 100px;
}

#footer {
  background-color: #5D576B;
  right: 0;
  bottom: 0;
  left: 0;
}
